<% form_for :venue, @venue, :url => backend_venue_path(@venue), :html => { :id => 'edit_form', :method => :put, :multipart => true } do  |f| %>
<table width="97%" border="0" align="center" cellpadding="2" cellspacing="2">
<tr>
	<td valign="top">
		<table width="100%" cellspacing="0" cellpadding="0" border="0">
		<tr>
			<td>
				<div class="screenTitle">
					<table width="100%" cellspacing="0" cellpadding="0" border="0">
					<tr>
						<td>
							<img src="/images/backend/on.gif" width="16" height="16">&nbsp;
							Update Venue Of <span class="name">GalleryDog</span><br />
							<%= link_to 'Artists', backend_venue_artists_path(@venue) -%> | <%= link_to 'Exhibitions', backend_venue_exhibitions_path(@venue) -%> | <%= link_to 'Events', backend_venue_events_path(@venue) -%>
						<td>
						
					</tr>
					</table>
				</div>
			</td>	  
		</tr>
		<tr>
			<td>&nbsp;</td>
		</tr>
		</table>
		
		<table width="100%" border="0" cellpadding="0" cellspacing="0">
		<tr>
			<td>
				<div class="listArea">
				<fieldset><legend>Venue</legend>
					<table width="100%" border="0" cellspacing="2" cellpadding="2">
					<tr>
						<td  align="left" Class="td-listing" colspan="3" valign="middle"></td>
						<td  align="right" Class="td-listing" colspan="3" valign="middle"><font class="errormsg">
							<%= link_to image_tag('/images/backend/cancel.gif') + ' Return To Venues Listing', backend_venues_path %>
						</td>
					</tr>
					<tr>
						<td Class="td-listing" colspan="5">
							<%=error_messages_for(:venue)%>
							<%= error_messages_for(:venue_timetable, :header_message => nil, :message => 'The following errors was found in the table of hours:') -%>
						</td>
					</tr>
					
					<%= render :partial => 'form', :locals => { :f => f, :show_password => false } -%>
				
					<tr>
						<td align="center" colspan="5"><div align="left"><font class="errormsg">*</font>&nbsp;Required Fields</div>
							<%= link_to_function image_tag('/images/backend/btn-ok.gif'), "jQuery.wymeditors(0).update();jQuery('#edit_form')[0].submit()"%>
							<%= link_to image_tag('/images/backend/btn-cancle.gif'), backend_venues_path %>
						</td>
					</tr>
					</table>
				</fieldset>
				</div>
			</td>	
		</tr>
		</table>
	</td>
</tr>
</table>
<% end %>