<table width="97%" border="0" align="center" cellpadding="2" cellspacing="2">
<tr>
          <td valign="top">
			<table width="100%" cellspacing="0" cellpadding="0" border="0">
			<tr>
				<td>
					<div class="screenTitle">
						<table width="100%" border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td><img src="/images/backend/on.gif" width="16" height="16">&nbsp;Pages List <span class="name"></span>Of <span class="name">GalleryDog</span></td>
							<td>&nbsp;</td>
						</tr>
						</table>
					</div>
				</td>	  
			</tr>
			<tr>
				<td>&nbsp;</td>
			</tr>
			</table>
		<table width="100%" border="0" cellpadding="0" cellspacing="0">
		<tr>
			<td>
				<div class="listArea">
				<fieldset>
					<legend>Pages</legend>
						<table width="100%" border="0" cellspacing="1" cellpadding="1">
						<tr>
							<td colspan="5">
								<table width="100%" border="0" cellspacing="0" cellpadding="0">
									<tr>
										<td width="8%" class="td-listing">
											<%= link_to image_tag("/images/backend/addnew.jpg"), new_backend_page_path %>
										</td>
										<!-- <td width="8%" class="td-listing">
											<%= link_to_function image_tag("/images/backend/delete.jpg"), 'deleteSelected()' -%>
										</td>
										<td width="8%" class="td-listing">
											<%= link_to image_tag("/images/backend/active.jpg"), backend_cities_path(:sort_on => params[:sort_on], :state => 1) -%>
										</td>
										<td width="8%" class="td-listing">
											<%= link_to image_tag("/images/backend/inactive.jpg"), backend_cities_path(:sort_on => params[:sort_on], :state => 0) -%>
										</td>
										<td width="8%" class="td-listing">
											<%= link_to image_tag("/images/backend/showall.jpg"), backend_cities_path(:sort_on => params[:sort_on]) -%>
										</td>-->
										<td width="60%" class="td-new2"><div align="right"><font class="disprecordmsg">
											<%= page_entries_info @pages , :entry_name => @controller.controller_name.capitalize if @pages.size > 0 %>
										</font></div>
										</td> 
									</tr>
								</table>
							</td>
						</tr>
						<tr>
							<td colspan="5">&nbsp;</td>
						</tr>
						</table>
						<table width="100%" cellspacing="1" cellpadding="0" border="0">
						<tr>
							<th width="25%"><div align="left">&nbsp;<%= link_to "Name", backend_cities_path(:sort_on => 'name', :page => params[:page]) %></div></th>
							<th width="25%"><div align="center">&nbsp;Actions&nbsp;</div></th>
						</tr>	
						 <% if @pages.size > 0 %>
						 <% @pages.each do |page| %>
						<tr onmouseover="this.style.backgroundColor='#D9D9D9'"  onmouseout="this.style.backgroundColor='<%= cycle('#EFEFEF', '#f8f8f8') %>'" bgcolor="<%= cycle('#EFEFEF', '#f8f8f8') %>">
							<td class="td-listing">&nbsp;<%= page.name %></td>
							<td class="td-listing" align="center">
								<%= link_to 'Edit', edit_backend_page_path(page) -%> | 
								<%= link_to 'Delete', backend_page_path(page), :method => :delete -%>
							</td>
						</tr>
						<% end %>
						<% else %>
						<tr>
							<td colspan = "5" height="170" align="center"  ><div class="listingmessage">No Records Found</div></td>
						</tr>	
						<% end %>
						</table>
				</fieldset>
				</div>
			</td>
		</tr>
		</table>
			<input  type="hidden" name="no" value="s">
			<p align="right"><font size="2" FACE="Verdana, Arial, Helvetica, sans-serif" color="black"><%= will_paginate @page,:inner_window =>2, :outer_window => 2 %></font></p>
	</td>
</tr>
</table>
<div style='display:none;'>
	<% form_tag backend_page_path(1), :method => :delete, :id => 'delete_form' do %>
		<input type="hidden" id="delete_ids" name="delete_ids[]">
	<% end %>
</div>
<script>
	function checkAll(){
		jQuery('.select_checkbox').each(function(i,e){ e.checked = jQuery('.select_all_checkbox')[0].checked; });
	}
	
	function deleteSelected(){
		jQuery('#delete_ids')[0].value = jQuery('.select_checkbox:checked').map(function() { return this.value; }).get().join(',');
		jQuery('#delete_form').submit();
	}
</script>