<% @result.sort_by { |r| -r.third.to_i }.map do |groupitem| %>
  <section class="manager mainpage">
    <hgroup>
      <h1><%= link_to groupitem.second, neighbourhood_path(groupitem.fourth) %></h1>
      <h3><%= pluralize(groupitem.third, 'result') %></h3>
    </hgroup>
    <div class="gallery separator">
      <% carousel_id = "carousel#{groupitem.first.id}" %>
      <div id="<%= carousel_id -%>" class="gallery separator">
        <% groupitem.first.map do |item| %>
          <figure <%= "class='last'" if groupitem.first.last == item %>>
            <%= render :partial => item.class.to_s.downcase, :locals => { :item => item } %>
          </figure>
        <% end %>
      </div>
      <%= javascript_tag "jQuery('##{carousel_id}').jcarousel();" %>
    </div>
  </section>
<% end %>