<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>For Immediate Release</td>
  </tr>
  <tr>
    <td><%= Date.today.strftime('%A, %B %-1d ') %></td>
  </tr>
  <tr>
    <td><%= exhibition.venue.city.name %>, <%= exhibition.venue.city.region.name %></td>
  </tr>
  <tr><td>&nbsp;</td></tr>
  <tr>
    <td>Exhibition title: <%= exhibition.title %></td>
  </tr>
  <tr>
    <td>Artist(s): <%= exhibition_artists_names(exhibition) %></td>
  </tr>
  <tr>
    <td>Venue: <%= link_to exhibition.venue.name, venue_url(exhibition.venue), :target => '_blank' %></td>
  </tr>
  <tr><td>&nbsp;</td></tr>
  <tr>
    <td>Opens: <%= exhibition.start.strftime('%A, %B %-1d') %></td>
  </tr>
  <tr>
    <td>Closes: <%= exhibition.end.strftime('%A, %B %-1d') %></td>
  </tr>
  <tr><td>&nbsp;</td></tr>
  <% if exhibition.formatted_public_reception_date %>
  <tr>
    <td>Reception: <%= exhibition.formatted_public_reception_date(true) %></td>
  </tr>
  <tr><td>&nbsp;</td></tr>
  <% end %>
  <% unless exhibition.curators.empty? %>
  <tr>
    <td>Curator: <%= exhibition.curator_names.to_sentence %></td>
  </tr>
  <tr><td>&nbsp;</td></tr>
  <% end %>
  <tr>
    <td valign="bottom">
      Short description:<br/>
      <%=sanitize(exhibition.short_description, :tags => %w(b i u p br strong em))%>
    </td>
  </tr>
  <tr><td>&nbsp;</td></tr>
  <tr>
    <td valign="top">
      <table width="100%" border="0" cellspacing="2" cellpadding="2">
        <tr>
          <td width="30%" valign="top" rowspan="2">
            <%= exhibition_image(exhibition, :large) %>
          </td>
          <td valign="top" align="left" height="150">
            <% unless exhibition.image.nil? %>
            <div class="image-title">
              <%= image_captions_for(exhibition) -%>
            </div>
            <% end %>
          </td>
        </tr>
      </table>
    </td>
  </tr>

  <tr>
    <td>
      <table border="0" cellspacing="2" cellpadding="2">
        <tr>
         <% exhibition.exhibition_attachments.each_with_index do |attachment, i| %>
          <td width="150" align="center" valign="middle">
            <%= image_tag attachment.attachment.url(:small) %>
          </td>
          <% if (i+1)%4==0 %> </tr><tr> <% end %>
         <% end %>
        </tr>
      </table>
    </td>
  </tr>

  <tr><td>&nbsp;</td></tr>
  <tr>
    <td valign="top">
      Long description:
      <p><%=sanitize(exhibition.description, :tags => %w(b i u p br strong em))%></p>
    </td>
  </tr>
  <tr><td>&nbsp;</td></tr>
  <% unless exhibition.tags.empty? %>
  <tr>
    <td>Tags: <%= exhibition.tags.map(&:name).join(', ') %></td>
  </tr>
  <tr><td>&nbsp;</td></tr>
  <% end %>
  <% if exhibition.medium %>
  <tr>
    <td>Primary medium: <%= exhibition.medium.name %></td>
  </tr>
  <tr><td>&nbsp;</td></tr>
  <% end %>
  <% if exhibition.publication_pdf? %>
  <tr>
    <td><%= link_to 'Download Press Release', "http://#{SITE_URL}#{exhibition.publication_pdf.url}" %></td>
  </tr>
  <tr><td>&nbsp;</td></tr>
  <% end %>
  <tr>
    <td>
      <table cellspacing="5">
        <tr>
          <td width="150" align="center" rowspan="2" valign="top">
            <%= venue_logo(exhibition.venue, :small) %>
            <br/><br/>
            <%= venue_image(exhibition.venue, :small) %>
          </td>
          <td colspan="2"><b><%= exhibition.venue.name %></b></td>
        </tr>
        <tr>
          <td valign="top" width="300">
            <%= format_address(exhibition.venue) %><br/>
            Email: <%= mail_to exhibition.venue.email %><br/>
            <br/>
            Media contact:<br/>
            <%= mail_to exhibition.venue.media_contact_email, exhibition.venue.media_contact %> (<%= exhibition.venue.media_contact_title %>)<br/>
          </td>
          <td valign="top">
            Hours:<br/>
            <%= venue_schedule_list(exhibition.venue) %>
          </td>
        </tr>
      </table>
    </td>
  </tr>

</table>